.user-app {
  .add-user-btn {
    color: #1cc49d;
    background-color: #1b2f31;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 6em;
    font-size: large;
    font-weight: 600;
    border: 0;
    margin: 0 auto 15px;
  }
  .fiter-title {
    margin-bottom: 5px;
  }
}
